{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="home-form">
    <h2>Welcome to the Graphic Planner</h2>
    <em><h3>Let's get started!</h3></em>
    <form method="post" action="{% url 'enter_availability' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>


    <a href="#">Home</a> |
    <a href="#">About</a> |
    <a href="#">Contact</a>
</div>
{% endblock %}

