<!-- schedule_list.html -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% extends 'base.html' %}

{% block content %}
  <h2>Create Schedule</h2>
  <form method="post" action="{% url 'create_schedule' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>

  <form method="post" action="{% url 'generate_schedule' %}">
    {% csrf_token %}
    <button type="submit">Generate Schedule</button>
  </form>
<body>
<!-- Dodaj na końcu pliku HTML przed zamknięciem tagu </body> -->
<script>
  $( function() {
    $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      showButtonPanel: true,
    });
  });
</script>

</body>
{% endblock %}
