<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Calendar</title>
    <style>
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);  /* 7 kolumn - dni tygodnia */
            gap: 10px;
        }

        .day {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#scheduleTable').DataTable({
                order: [[2, 'asc']]  // Sortowanie według trzeciej kolumny (indeks 2), czyli 'Work Date'
            });
        });
    </script>
</head>
<body>
    <h2>Schedule Calendar</h2>
    <div class="calendar">
        {% for schedule_entry in schedule_entries %}
            <div class="day">
                <p>User: {{ schedule_entry.user.username }}</p>
                <p>Shift: {{ schedule_entry.shift_id.shift_name }}</p>
                <p>Work Date: {{ schedule_entry.work_date }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>